body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

.dark-theme {
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.posts-container div {
    background-color: #1f1f1f; /* Darker background for posts in dark theme */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1); /* Adjust box shadow for posts in dark theme */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1f1f1f; /* Darker background for modal in dark theme */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Adjust box shadow for modal in dark theme */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff; /* White color for close button in dark theme */
}

form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
    color: #fff; /* White color for labels in dark theme */
}

input,
textarea,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2b2b2b; /* Darker background for input fields in dark theme */
    color: #fff; /* White color for text in input fields in dark theme */
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#toggleTheme {
    background-color: #555;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggleTheme:hover {
    background-color: #777;
}
